

.section{
    padding: 80px;
}

.container-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.first-header{
    font-family: Avenir;
    font-size: 18px;
    color: #414042;

}

.second-header{
    font-family: Days-one;
    color: #0B83CB;
    font-size: 25px;
}

.paragraph-one{
    
    font-family: Avenir;
    font-size: 16px;
    color: #7D7D7D;
    width: auto;
    text-align: center;

}