@font-face {
  font-family: Days-one;
  src: url(../Fonts/DaysOne-Regular.ttf);
}



.background-right {
    background-image: url('../Images/background\ design.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain; 
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px; /* Adjust as needed */
    padding: 50px; /* Adjust as needed */
  }
  
  .text-content {
    max-width: 500px; /* Adjust as needed */
  }

  .premier-heading{
    font-family: Days-one;
    font-size: 35px;
    width: 480px;
    height: 90px;
    gap: 0px;
    opacity: 0px;
    margin-left: 30px;
    color: #0B83CB;
  

  }

  .platform{
    font-family: Avenir;
    width: 471.93px;
    height: 90px;
    margin-top: 27.7px;
    opacity: 0px;
    font-size: 16px;
    line-height: 24.8px;
    margin-left: 30px;
    color: #7D7D7D;

  }
  
  .car-image {
    text-align: right; /* Align the image to the right */
  }
  
  .car-image img {
    max-width: 100%;
    height: auto;
    
  }

  #buy-cars{
    font-family: Avenir;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 2px;
    padding:10px 30px 10px 30px;
    background-color: #0B83CB;
    border-radius: 2px;
  }

  .btn {
    margin-left: 26px;
    margin-right: 27px;
  }

  #services{
    font-family: Avenir;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 2px;
    padding:10px 30px 10px 30px;
    background-color: #E0F5F8;
    border: #0B83CB solid 1px;
    border-radius: 2px;
  }

  .rectangle {
    position: absolute;
    background-color: #FFFFFFC4;
    border: 1px dashed #00CCF9;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
   
    text-align: center;
  }
  
  .rectangle.top-right {
    top: 33%;
    right: 10%;
    width: 130px;
  }

  .toyota{
    font-family: Avenir-heavy ;
    font-size: 16px;
  }

  .cylinder{
    font-family: Avenir;
  }

  
  .rectangle.bottom-left {
    bottom: 30%;
    left: 57%;
    width: 150px;
  }
  



  